<!DOCTYPE html>
<html lang="vi">

<head
    prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# book: http://ogp.me/ns/book# profile: http://ogp.me/ns/profile#">
    <meta charset="UTF-8" />
    <title>Danh sách truyện <%=categoryName%> tổng hợp mới nhất</title>
    <meta name="viewport"
        content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no" />
    <meta name="description"
        content="Danh sách truyện Cổ Đại tổng hợp mới nhất. Truyện có nội dung xảy ra ở thời cổ đại phong kiến." />
    <meta name="keywords" content="truyện Cổ Đại" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="canonical" href="the-loai/co-dai" />
    <meta property="fb:app_id" content="245372619860792">
    <meta property="og:title" content="Danh sách truyện <%=categoryName%> tổng hợp mới nhất">
    <meta property="og:url" content="" />
    <meta property="og:description"
        content="Danh sách truyện Cổ Đại tổng hợp mới nhất. Truyện có nội dung xảy ra ở thời cổ đại phong kiến." />
    <meta property="og:site_name" content="Đọc truyện chữ Online, Mê đọc truyện chữ hay">
    <link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <script type="application/ld+json">{ "@context": "http://schema.org", "@type": "WebSite", "url": "", "name": "Đọc truyện chữ Online, Mê đọc truyện chữ hay", "description": "Đọc truyện chữ online, mê đọc truyện chữ, truyện chữ hay, truyện chữ full. Truyện chữ Full luôn tổng hợp và cập nhật các chương truyện một cách nhanh nhất, đầy đủ nhất.", "potentialAction": { "@type": "SearchAction", "target": { "@type": "EntryPoint", "urlTemplate": "tim-kiem?tukhoa={tukhoa}" }, "query-input": { "@type": "PropertyValueSpecification", "valueRequired": "http://schema.org/True", "valueName": "tukhoa" } }
}</script>
    <link rel="stylesheet" type="text/css" href="frontend/css/style.css" />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2021726978792364"
        crossorigin="anonymous"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-65067329-18"></script>
    <script> window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'UA-65067329-18');</script>
</head>

<body id="body_home" class="" itemscope itemtype="https://schema.org/WebSite">
    <div id="wrap">
        <script
            type="text/javascript"> function getCookie(d) { d += "="; for (var b = decodeURIComponent(document.cookie).split(";"), c = [], a = 0; a < b.length; a++) 0 == b[a].trim().indexOf(d) && (c = b[a].trim().split("=")); return 0 < c.length ? c[1] : ""; } var js_bgcolor = getCookie("bgcolor-cookie"); "#232323" == js_bgcolor && (document.getElementsByTagName("body")[0].className += " dark-theme"); </script>
        <header>
            <div class="navbar navbar-default navbar-static-top" role="navigation" id="nav">
                <%-include('./../common/navbar')%>
                <div class="navbar-breadcrumb">
                    <div class="container breadcrumb-container">
                        <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
                            <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"> <a href=""
                                    accesskey="1"><span class="glyphicon glyphicon-home"></span></a> <a href=""
                                    title="Đọc truyện online" itemprop="item"><span itemprop="name">Truyện</span></a>
                                <meta itemprop="position" content="1" />
                            </li>
                            <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"> <a
                                    href="/the-loai/<%-category%>" title="<%-categoryName%>" itemprop="item"><span itemprop="name"><%=categoryName%></span></a>
                                <meta itemprop="position" content="2" />
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </header>
        <script
            type="text/javascript">function getCookie(d) { d += "="; for (var b = decodeURIComponent(document.cookie).split(";"), c = [], a = 0; a < b.length; a++)0 == b[a].trim().indexOf(d) && (c = b[a].trim().split("=")); return 0 < c.length ? c[1] : "" } var js_bgcolor = getCookie("bgcolor-cookie"), js_font = getCookie("font-cookie"), js_size = getCookie("size-cookie"), js_lineheight = getCookie("lineheight-cookie"), js_hidenav = getCookie("hidenav-cookie"), js_fluid_switch = getCookie("fluid-switch-cookie"), js_onebreak_switch = getCookie("onebreak-switch-cookie"), js_body_insert_class = ""; "" != js_bgcolor && "#F4F4F4" != js_bgcolor && (js_bgcolor = js_bgcolor.replace("#", ""), js_body_insert_class = "232323" == js_bgcolor ? js_body_insert_class + " background-232323 dark-theme" : js_body_insert_class + (" background-" + js_bgcolor)); 1 == js_hidenav && (document.getElementById("body_chapter").className += " hidenav"); "" != js_size && (js_body_insert_class += " size-" + js_size); "" != js_font && (js_font = js_font.replace(/, serif|, sans-serif|'|\s/g, ""), js_body_insert_class += " font-" + js_font); "" != js_lineheight && "180%" != js_lineheight && (js_lineheight = js_lineheight.replace("%", ""), js_body_insert_class += " lineheight-" + js_lineheight); 1 == js_fluid_switch && (js_body_insert_class += " container-fluid-switch"); document.getElementById("body_chapter").className += js_body_insert_class;</script>
        <style type="text/css">
            #list-page .cat-content {
                text-align: left
            }

            .cat-content {
                margin: 10px 0;
                padding: 0 10px;
            }
        </style>
        <h1 style="display: none;">Danh sách truyện <%=categoryName%> tổng hợp mới nhất</h1>
        <div class="container" id="list-page">
            <div class="title-list">
                <h2 itemprop="name"><%=categoryName%></h2>
                <div class="filter"> <a href="the-loai/co-dai/hoan"><%=categoryName%> (full)</a> </div>
                <div style="clear: both;"></div>
            </div>
            <div class="cat-content"></div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-truyen-main">
                <div class="text-center"></div>
                <div class="list list-truyen col-xs-12">
                    <div style="padding: 0 10px;">
                        <p style="text-align:justify">Truyện c&oacute; nội dung xảy ra ở thời cổ đại phong kiến.</p>
                    </div>
                    <% listManga.forEach((manga)=>{ %>
                        <div class="row" itemscope itemtype="https://schema.org/Book">
                            <div class="col-xs-3">
                                <div>
                                    <div data-image="uploads/Images/tro-lai-chien-quoc-chi-ta-la-lao-ai.jpg"
                                        data-desk-image="uploads/Images/tro-lai-chien-quoc-chi-ta-la-lao-ai.jpg"
                                        data-classname="cover" data-alt="Trở Lại Chiến Quốc Chi Ta Là Lao Ái"
                                        data-origin="jpg" class="lazyimg"></div>
                                </div>
                            </div>
                            <div class="col-xs-9">
                                <div>
                                    <div style="height:10px;"></div> <span class="glyphicon glyphicon-book"></span>
                                    <h3 class="truyen-title" itemprop="name"> <a href="tro-lai-chien-quoc-chi-ta-la-lao-ai"
                                            title="Trở Lại Chiến Quốc Chi Ta Là Lao Ái" itemprop="url"><%=manga.name%></a> </h3> <span class="label-title label-full"></span> <span
                                        class="author" itemprop="author"><span class="glyphicon glyphicon-pencil"></span>
                                        Tam Sinh Vạn Vật</span>
                                    <div class="content"><%=manga.description%> <div class="latest-chapter">
                                            <span>Chương mới nhất:</span> <a
                                                href="tro-lai-chien-quoc-chi-ta-la-lao-ai/chuong-330-cuoi-cung-khoi-dau-moi"
                                                title="Chương 330 : Cuối cùng (khởi đầu mới! ) "> <span
                                                    class="chapter-text"><span></span></span>Chương 330 : Cuối cùng (khởi
                                                đầu mới! ) </a> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <%})%>

                </div>
                <ul class="pagination pagination-sm">
                    <li class="active"><span class="currentPage">1</span></li>
                    <li><a itemprop="url" href="the-loai/co-dai?page=2">2</a></li>
                    <li><a itemprop="url" href="the-loai/co-dai?page=3">3</a></li>
                    <li><a itemprop="url" href="the-loai/co-dai?page=4">4</a></li>
                    <li><a itemprop="url" href="the-loai/co-dai?page=5">5</a></li>
                    <li><a itemprop="url" href="the-loai/co-dai?page=6">6</a></li>
                    <li><a itemprop="url" href="the-loai/co-dai?page=2"><span class="glyphicon glyphicon-chevron-right"
                                aria-hidden="true"></span></a></li>
                    <li><a itemprop="url" href="the-loai/co-dai?page=24"><span class="glyphicon glyphicon-forward"
                                aria-hidden="true"></span></a></li>
                    <li class="dropup page-nav"> <a href="javascript:void(0)" data-toggle="dropdown"
                            aria-expanded="true">Chọn trang <span class="caret"></span></a>
                        <div class="dropdown-menu dropdown-menu-right" role="menu">
                            <form action="." name="page_jump" id="page_jump" method="get">
                                <div class="input-group"> <input name="page_type" type="hidden" value="" /> <input
                                        name="truyen" type="hidden" value="" /> <input name="filter" type="hidden"
                                        value="" /> <input class="form-control" name="page" type="number"
                                        placeholder="Số trang..." value="" /><span class="input-group-btn"><button
                                            class="btn btn-default" type="submit">Đi</button></span> </div>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="visible-md-block visible-lg-block col-md-3 text-center col-truyen-side">
                <div id="ads_sidebar_story1"></div>
                <div class="list list-truyen list-cat col-xs-12">
                    <div class="title-list">
                        <h4>Thể loại truyện</h4>
                    </div>
                    <div class="row">
                        <div class="col-xs-6"><a href="the-loai/bach-hop" title="">Bách Hợp</a></div>
                        <div class="col-xs-6"><a href="the-loai/co-dai" title="">Cổ Đại</a></div>
                        <div class="col-xs-6"><a href="the-loai/cung-dau" title="">Cung Đấu</a></div>
                        <div class="col-xs-6"><a href="the-loai/dam-my" title="">Đam Mỹ</a></div>
                        <div class="col-xs-6"><a href="the-loai/di-gioi" title="">Dị Giới</a></div>
                        <div class="col-xs-6"><a href="the-loai/di-nang" title="">Dị Năng</a></div>
                        <div class="col-xs-6"><a href="the-loai/dien-van" title="">Điền Văn</a></div>
                        <div class="col-xs-6"><a href="the-loai/do-thi" title="">Đô Thị</a></div>
                        <div class="col-xs-6"><a href="the-loai/doan-van" title="">Đoản Văn</a></div>
                        <div class="col-xs-6"><a href="the-loai/dong-phuong" title="">Đông Phương</a></div>
                        <div class="col-xs-6"><a href="the-loai/gia-dau" title="">Gia Đấu</a></div>
                        <div class="col-xs-6"><a href="the-loai/hai-huoc" title="">Hài Hước</a></div>
                        <div class="col-xs-6"><a href="the-loai/he-thong" title="">Hệ Thống</a></div>
                        <div class="col-xs-6"><a href="the-loai/huyen-huyen" title="">Huyền Huyễn</a></div>
                        <div class="col-xs-6"><a href="the-loai/khac" title="">Khác</a></div>
                        <div class="col-xs-6"><a href="the-loai/khoa-huyen" title="">Khoa Huyễn</a></div>
                        <div class="col-xs-6"><a href="the-loai/kiem-hiep" title="">Kiếm Hiệp</a></div>
                        <div class="col-xs-6"><a href="the-loai/lich-su" title="">Lịch Sử</a></div>
                        <div class="col-xs-6"><a href="the-loai/light-novel" title="">Light Novel</a></div>
                        <div class="col-xs-6"><a href="the-loai/linh-di" title="">Linh Dị</a></div>
                        <div class="col-xs-6"><a href="the-loai/mat-the" title="">Mạt Thế</a></div>
                        <div class="col-xs-6"><a href="the-loai/ngon-tinh" title="">Ngôn Tình</a></div>
                        <div class="col-xs-6"><a href="the-loai/nguoc" title="">Ngược</a></div>
                        <div class="col-xs-6"><a href="the-loai/nu-cuong" title="">Nữ Cường</a></div>
                        <div class="col-xs-6"><a href="the-loai/nu-phu" title="">Nữ Phụ</a></div>
                        <div class="col-xs-6"><a href="the-loai/phuong-tay" title="">Phương Tây</a></div>
                        <div class="col-xs-6"><a href="the-loai/quan-su" title="">Quân Sự</a></div>
                        <div class="col-xs-6"><a href="the-loai/quan-truong" title="">Quan Trường</a></div>
                        <div class="col-xs-6"><a href="the-loai/sac" title="">Sắc</a></div>
                        <div class="col-xs-6"><a href="the-loai/sung" title="">Sủng</a></div>
                        <div class="col-xs-6"><a href="the-loai/tham-hiem" title="">Thám Hiểm</a></div>
                        <div class="col-xs-6"><a href="the-loai/tien-hiep" title="">Tiên Hiệp</a></div>
                        <div class="col-xs-6"><a href="the-loai/trinh-tham" title="">Trinh Thám</a></div>
                        <div class="col-xs-6"><a href="the-loai/trong-sinh" title="">Trọng Sinh</a></div>
                        <div class="col-xs-6"><a href="the-loai/truyen-teen" title="">Truyện Teen</a></div>
                        <div class="col-xs-6"><a href="the-loai/viet-nam" title="">Việt Nam</a></div>
                        <div class="col-xs-6"><a href="the-loai/vong-du" title="">Võng Du</a></div>
                        <div class="col-xs-6"><a href="the-loai/xuyen-khong" title="">Xuyên Không</a></div>
                        <div class="col-xs-6"><a href="the-loai/xuyen-nhanh" title="">Xuyên Nhanh</a></div>
                    </div>
                </div>
                <div class="list list-truyen list-side col-xs-12">
                    <div class="title-list">
                        <h4>Truyện Cổ Đại hot</h4>
                    </div>
                    <div class="row top-item">
                        <div class="col-xs-12">
                            <div class="top-num top-1">1</div>
                            <div class="s-title">
                                <h3><a href="than-y-dich-nu" title="Thần Y Đích Nữ">Thần Y Đích Nữ</a></h3>
                            </div>
                            <div> <a itemprop="genre" href="the-loai/ngon-tinh" title="Ngôn Tình">Ngôn Tình</a>, <a
                                    itemprop="genre" href="the-loai/xuyen-khong" title="Xuyên Không">Xuyên Không</a>, <a
                                    itemprop="genre" href="the-loai/co-dai" title="Cổ Đại">Cổ Đại</a> </div>
                        </div>
                    </div>
                    <div class="row top-item">
                        <div class="col-xs-12">
                            <div class="top-num top-2">2</div>
                            <div class="s-title">
                                <h3><a href="dien-vien-cam-tu" title="Điền Viên Cẩm Tú">Điền Viên Cẩm Tú</a></h3>
                            </div>
                            <div> <a itemprop="genre" href="the-loai/ngon-tinh" title="Ngôn Tình">Ngôn Tình</a>, <a
                                    itemprop="genre" href="the-loai/xuyen-khong" title="Xuyên Không">Xuyên Không</a>, <a
                                    itemprop="genre" href="the-loai/dien-van" title="Điền Văn">Điền Văn</a>, <a
                                    itemprop="genre" href="the-loai/co-dai" title="Cổ Đại">Cổ Đại</a> </div>
                        </div>
                    </div>
                    <div class="row top-item">
                        <div class="col-xs-12">
                            <div class="top-num top-3">3</div>
                            <div class="s-title">
                                <h3><a href="he-thong-livestream-cua-nu-de" title="Hệ Thống Livestream Của Nữ Đế">Hệ
                                        Thống Livestream Của Nữ Đế</a></h3>
                            </div>
                            <div> <a itemprop="genre" href="the-loai/ngon-tinh" title="Ngôn Tình">Ngôn Tình</a>, <a
                                    itemprop="genre" href="the-loai/khoa-huyen" title="Khoa Huyễn">Khoa Huyễn</a>, <a
                                    itemprop="genre" href="the-loai/he-thong" title="Hệ Thống">Hệ Thống</a>, <a
                                    itemprop="genre" href="the-loai/di-nang" title="Dị Năng">Dị Năng</a>, <a
                                    itemprop="genre" href="the-loai/xuyen-khong" title="Xuyên Không">Xuyên Không</a>, <a
                                    itemprop="genre" href="the-loai/cung-dau" title="Cung Đấu">Cung Đấu</a>, <a
                                    itemprop="genre" href="the-loai/hai-huoc" title="Hài Hước">Hài Hước</a>, <a
                                    itemprop="genre" href="the-loai/co-dai" title="Cổ Đại">Cổ Đại</a> </div>
                        </div>
                    </div>
                    <div class="row top-item">
                        <div class="col-xs-12">
                            <div class="top-num top-4">4</div>
                            <div class="s-title">
                                <h3><a href="toi-cuong-than-thoai-de-hoang" title="Tối Cường Thần Thoại Đế Hoàng">Tối
                                        Cường Thần Thoại Đế Hoàng</a></h3>
                            </div>
                            <div> <a itemprop="genre" href="the-loai/tien-hiep" title="Tiên Hiệp">Tiên Hiệp</a>, <a
                                    itemprop="genre" href="the-loai/khoa-huyen" title="Khoa Huyễn">Khoa Huyễn</a>, <a
                                    itemprop="genre" href="the-loai/he-thong" title="Hệ Thống">Hệ Thống</a>, <a
                                    itemprop="genre" href="the-loai/huyen-huyen" title="Huyền Huyễn">Huyền Huyễn</a>, <a
                                    itemprop="genre" href="the-loai/di-gioi" title="Dị Giới">Dị Giới</a>, <a
                                    itemprop="genre" href="the-loai/xuyen-khong" title="Xuyên Không">Xuyên Không</a>, <a
                                    itemprop="genre" href="the-loai/co-dai" title="Cổ Đại">Cổ Đại</a> </div>
                        </div>
                    </div>
                    <div class="row top-item">
                        <div class="col-xs-12">
                            <div class="top-num top-5">5</div>
                            <div class="s-title">
                                <h3><a href="dich-nu-trung-sinh-ky" title="Đích Nữ Trùng Sinh Ký">Đích Nữ Trùng Sinh
                                        Ký</a></h3>
                            </div>
                            <div> <a itemprop="genre" href="the-loai/ngon-tinh" title="Ngôn Tình">Ngôn Tình</a>, <a
                                    itemprop="genre" href="the-loai/trong-sinh" title="Trọng Sinh">Trọng Sinh</a>, <a
                                    itemprop="genre" href="the-loai/co-dai" title="Cổ Đại">Cổ Đại</a> </div>
                        </div>
                    </div>
                    <div class="row top-item">
                        <div class="col-xs-12">
                            <div class="top-num top-6">6</div>
                            <div class="s-title">
                                <h3><a href="tuyet-sac-dan-duoc-su-quy-vuong-yeu-phi"
                                        title="Tuyệt Sắc Đan Dược Sư: Quỷ Vương Yêu Phi">Tuyệt Sắc Đan Dược Sư: Quỷ
                                        Vương Yêu Phi</a></h3>
                            </div>
                            <div> <a itemprop="genre" href="the-loai/ngon-tinh" title="Ngôn Tình">Ngôn Tình</a>, <a
                                    itemprop="genre" href="the-loai/huyen-huyen" title="Huyền Huyễn">Huyền Huyễn</a>, <a
                                    itemprop="genre" href="the-loai/di-gioi" title="Dị Giới">Dị Giới</a>, <a
                                    itemprop="genre" href="the-loai/xuyen-khong" title="Xuyên Không">Xuyên Không</a>, <a
                                    itemprop="genre" href="the-loai/co-dai" title="Cổ Đại">Cổ Đại</a> </div>
                        </div>
                    </div>
                    <div class="row top-item">
                        <div class="col-xs-12">
                            <div class="top-num top-7">7</div>
                            <div class="s-title">
                                <h3><a href="bac-tong-phong-luu" title="Bắc Tống Phong Lưu">Bắc Tống Phong Lưu</a></h3>
                            </div>
                            <div> <a itemprop="genre" href="the-loai/tien-hiep" title="Tiên Hiệp">Tiên Hiệp</a>, <a
                                    itemprop="genre" href="the-loai/lich-su" title="Lịch Sử">Lịch Sử</a>, <a
                                    itemprop="genre" href="the-loai/xuyen-khong" title="Xuyên Không">Xuyên Không</a>, <a
                                    itemprop="genre" href="the-loai/co-dai" title="Cổ Đại">Cổ Đại</a> </div>
                        </div>
                    </div>
                    <div class="row top-item">
                        <div class="col-xs-12">
                            <div class="top-num top-8">8</div>
                            <div class="s-title">
                                <h3><a href="xuyen-nhanh-nam-than-bung-chay-di"
                                        title="Xuyên Nhanh: Nam Thần, Bùng Cháy Đi!">Xuyên Nhanh: Nam Thần, Bùng Cháy
                                        Đi!</a></h3>
                            </div>
                            <div> <a itemprop="genre" href="the-loai/ngon-tinh" title="Ngôn Tình">Ngôn Tình</a>, <a
                                    itemprop="genre" href="the-loai/khoa-huyen" title="Khoa Huyễn">Khoa Huyễn</a>, <a
                                    itemprop="genre" href="the-loai/he-thong" title="Hệ Thống">Hệ Thống</a>, <a
                                    itemprop="genre" href="the-loai/xuyen-khong" title="Xuyên Không">Xuyên Không</a>, <a
                                    itemprop="genre" href="the-loai/xuyen-nhanh" title="Xuyên Nhanh">Xuyên Nhanh</a>, <a
                                    itemprop="genre" href="the-loai/hai-huoc" title="Hài Hước">Hài Hước</a>, <a
                                    itemprop="genre" href="the-loai/co-dai" title="Cổ Đại">Cổ Đại</a>, <a
                                    itemprop="genre" href="the-loai/mat-the" title="Mạt Thế">Mạt Thế</a> </div>
                        </div>
                    </div>
                    <div class="row top-item">
                        <div class="col-xs-12">
                            <div class="top-num top-9">9</div>
                            <div class="s-title">
                                <h3><a href="phuong-nghich-thien-ha" title="Phượng Nghịch Thiên Hạ">Phượng Nghịch Thiên
                                        Hạ</a></h3>
                            </div>
                            <div> <a itemprop="genre" href="the-loai/ngon-tinh" title="Ngôn Tình">Ngôn Tình</a>, <a
                                    itemprop="genre" href="the-loai/huyen-huyen" title="Huyền Huyễn">Huyền Huyễn</a>, <a
                                    itemprop="genre" href="the-loai/di-gioi" title="Dị Giới">Dị Giới</a>, <a
                                    itemprop="genre" href="the-loai/xuyen-khong" title="Xuyên Không">Xuyên Không</a>, <a
                                    itemprop="genre" href="the-loai/nguoc" title="Ngược">Ngược</a>, <a itemprop="genre"
                                    href="the-loai/nu-cuong" title="Nữ Cường">Nữ Cường</a>, <a itemprop="genre"
                                    href="the-loai/co-dai" title="Cổ Đại">Cổ Đại</a> </div>
                        </div>
                    </div>
                    <div class="row top-item">
                        <div class="col-xs-12">
                            <div class="top-num top-10">10</div>
                            <div class="s-title">
                                <h3><a href="nong-gia-tieu-dia-chu" title="Nông gia tiểu địa chủ">Nông gia tiểu địa
                                        chủ</a></h3>
                            </div>
                            <div> <a itemprop="genre" href="the-loai/ngon-tinh" title="Ngôn Tình">Ngôn Tình</a>, <a
                                    itemprop="genre" href="the-loai/xuyen-khong" title="Xuyên Không">Xuyên Không</a>, <a
                                    itemprop="genre" href="the-loai/sung" title="Sủng">Sủng</a>, <a itemprop="genre"
                                    href="the-loai/co-dai" title="Cổ Đại">Cổ Đại</a> </div>
                        </div>
                    </div>
                </div>
                <div id="ads_sidebar_story2"></div>
            </div>
            <div style="clear: both;"></div>
            <div class="cat-content"></div>
        </div>
    </div>
    <div class="container">
        <div style="margin: 15px 0;padding:0 5px"></div>
    </div>
   
    <!-- <div id="footer" class="footer">
        <div class="container">
            <div class="hidden-xs col-sm-5">
                <p style="text-align:justify"><a href=""><strong>Truyện Chữ</strong></a> - Truyện Full (<a
                        href="danh-sach/truyen-full">Truyenfull</a>) -&nbsp;<a href="">Đọc truyện chữ</a> online, <a
                        href="">m&ecirc; đọc truyện</a>&nbsp;chữ,&nbsp;truyện chữ hay. Website lu&ocirc;n cập nhật những
                    bộ&nbsp;<a href="danh-sach/truyen-moi">truyện chữ mới</a>&nbsp;thuộc c&aacute;c thể loại đặc sắc
                    như&nbsp;<a href="the-loai/tien-hiep">truyện Ti&ecirc;n Hiệp</a>,&nbsp;<a
                        href="the-loai/kiem-hiep">truyện Kiếm Hiệp</a>, hay&nbsp;<a href="the-loai/ngon-tinh">truyện
                        Ng&ocirc;n T&igrave;nh</a>&nbsp;một c&aacute;ch nhanh nhất. Hỗ trợ mọi thiết bị như di động
                    v&agrave; m&aacute;y t&iacute;nh bảng.</p>
            </div>
            <ul class="col-xs-12 col-sm-7 list-unstyled">
                <li class="text-right pull-right"> <a rel="nofollow" href="dieu-khoan-su-dung" title="ToS">ToS</a> <a
                        rel="nofollow" href="gioi-thieu-truyenchu-vn" title="Giới thiệu">Giới thiệu</a> <a
                        href="lien-he" title="Contact" rel="nofollow">Liên hệ</a> <a class="backtop"
                        title="Trở lên đầu trang" href="#wrap" rel="nofollow" aria-label="Trở về đầu trang"><span
                            class="glyphicon glyphicon-upload"></span></a> </li>
                <li class="hidden-xs tag-list"> <a href="danh-sach/dam-my-hai">đam mỹ h&agrave;i</a> <a
                        href="the-loai/xuyen-nhanh">truyện xuy&ecirc;n nhanh</a> <a
                        href="danh-sach/ngon-tinh-sung">ng&ocirc;n t&igrave;nh sủng</a> <a
                        href="danh-sach/ngon-tinh-hai">ng&ocirc;n t&igrave;nh h&agrave;i</a> <a
                        href="danh-sach/truyen-teen-hay">truyện teen hay</a> <a
                        href="danh-sach/ngon-tinh-hay">ng&ocirc;n t&igrave;nh hay</a> <a href="the-loai/dam-my">truyện
                        đam mỹ</a> <a href="the-loai/ngon-tinh/hoan">truyện ng&ocirc;n t&igrave;nh</a> <a
                        href="the-loai/ngon-tinh/hoan">ng&ocirc;n t&igrave;nh ho&agrave;n</a> <a
                        href="danh-sach/ngon-tinh-nguoc">ng&ocirc;n t&igrave;nh ngược</a> <a
                        href="danh-sach/kiem-hiep-hay">truyện kiếm hiệp hay</a> <a href="danh-sach/tien-hiep-hay">truyện
                        ti&ecirc;n hiệp hay</a> <a href="the-loai/he-thong">truyện hệ thống</a> </li>
            </ul>
        </div>
    </div> -->
    <%-include('./../common/footer')%>
    <script>const BASE_URL = '';
        const FB_APP_ID = '245372619860792';
        const GA_ACCOUNT = '65067329-18';</script>
    <script type="text/javascript" src="/frontend/js/main.min.js"></script>
    <script>var element = document.createElement("link");
        element.setAttribute("rel", "stylesheet");
        element.setAttribute("type", "text/css");
        element.setAttribute("href", "/frontend/css/main.min.css");
        document.getElementsByTagName("head")[0].appendChild(element); </script>
    <script type="text/javascript"></script>
</body>

</html>