<!DOCTYPE html>
<html lang="vi">

<head
    prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# book: http://ogp.me/ns/book# profile: http://ogp.me/ns/profile#">
    <meta charset="UTF-8" />
    <title>BlogEma <%=manga.name%> full tác giả <%=manga.author%></title>
    <meta name="viewport"
        content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no" />
    <meta name="description"
        content="Đọc truyện <%=manga.name%> của tác giả <%=manga.author %>, đã full (hoàn thành). Hỗ trợ xem trên di động, máy tính bảng." />
    <meta name="keywords"
        content="<%=manga.name%>, <%=manga.slug%>" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="canonical" href="/<%=manga.slug%>" />
    <meta property="fb:app_id" content="5170652662945892">
    <meta property="og:title" content="Đọc truyện <%=manga.name%> full tác giả <%=manga.author%>">
    <meta property="og:url" content="" />
    <meta property="og:description"
        content="Đọc truyện <%=manga.name %> của tác giả <%=manga.author%>, đã full (hoàn thành). Hỗ trợ xem trên di động, máy tính bảng." />
    <meta property="og:site_name" content="Đọc BlogEma Online, Mê đọc BlogEma hay">
    <meta property="og:image" content="<%=manga.image%>" />
    <meta property="og:type" content="book" />
    <meta property="og:author" content="/tac-gia/<%=manga.authorSlug%>" />
    <meta property="og:release_date" content="07-02-2022 13:46" />
    <link property="og:tag" content="<%=manga.name%>" />
    <link property="og:tag" content="<%=manga.name%>" />
    <link property="og:tag" content="<%=manga.author%>" />
    <link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon/favicon.svg">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon.svg">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon.svg">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon.svg">
    <link rel="manifest" href="favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <script type="application/ld+json">{ "@context": "http://schema.org", "@type": "WebSite", "url": "https://blogema.org", "name": "Đọc BlogEma Online, Mê đọc BlogEma hay", "description": "Đọc BlogEma online, mê đọc BlogEma, BlogEma hay, BlogEma full. Truyện chữ Full luôn tổng hợp và cập nhật các chương truyện một cách nhanh nhất, đầy đủ nhất.", "potentialAction": { "@type": "SearchAction", "target": { "@type": "EntryPoint", "urlTemplate": "tim-kiem?tukhoa={tukhoa}" }, "query-input": { "@type": "PropertyValueSpecification", "valueRequired": "http://schema.org/True", "valueName": "tukhoa" } }
}</script>
    <link rel="stylesheet" type="text/css" href="/frontend/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/frontend/css/main.min.css" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-173912908-1"></script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9443025361518917" crossorigin="anonymous"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-173912908-1');
</script>
</head>

<body id="body_home" class="">
    <div id="wrap">
        <script
            type="text/javascript"> function getCookie(d) { d += "="; for (var b = decodeURIComponent(document.cookie).split(";"), c = [], a = 0; a < b.length; a++) 0 == b[a].trim().indexOf(d) && (c = b[a].trim().split("=")); return 0 < c.length ? c[1] : ""; } var js_bgcolor = getCookie("bgcolor-cookie"); "#232323" == js_bgcolor && (document.getElementsByTagName("body")[0].className += " dark-theme"); </script>
            <header>
                <div class="navbar navbar-default navbar-static-top" role="navigation" id="nav">
                    <%-include('./../common/navbar')%>
                    <div class="navbar-breadcrumb">
                        <div class="container breadcrumb-container">
                           <ol class="breadcrumb" itemscope="" itemtype="https://schema.org/BreadcrumbList">
                              <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                                 <a href="/" accesskey="1"><span class="glyphicon glyphicon-home"></span></a> <a href="/" title="Đọc truyện online" itemprop="item"><span itemprop="name">Truyện</span></a>
                                 <meta itemprop="position" content="1">
                              </li>
                              <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                                 <a href="/<%=manga.slug%>" title="<%=manga.name%>" itemprop="item"><span itemprop="name"><%=manga.name%></span></a> 
                                 <meta itemprop="position" content="2">
                              </li>
                           </ol>
                        </div>
                     </div>
                </div>
            </header>
            <script
                type="text/javascript">function getCookie(d) { d += "="; for (var b = decodeURIComponent(document.cookie).split(";"), c = [], a = 0; a < b.length; a++)0 == b[a].trim().indexOf(d) && (c = b[a].trim().split("=")); return 0 < c.length ? c[1] : "" } var js_bgcolor = getCookie("bgcolor-cookie"), js_font = getCookie("font-cookie"), js_size = getCookie("size-cookie"), js_lineheight = getCookie("lineheight-cookie"), js_hidenav = getCookie("hidenav-cookie"), js_fluid_switch = getCookie("fluid-switch-cookie"), js_onebreak_switch = getCookie("onebreak-switch-cookie"), js_body_insert_class = ""; "" != js_bgcolor && "#F4F4F4" != js_bgcolor && (js_bgcolor = js_bgcolor.replace("#", ""), js_body_insert_class = "232323" == js_bgcolor ? js_body_insert_class + " background-232323 dark-theme" : js_body_insert_class + (" background-" + js_bgcolor)); 1 == js_hidenav && (document.getElementById("body_chapter").className += " hidenav"); "" != js_size && (js_body_insert_class += " size-" + js_size); "" != js_font && (js_font = js_font.replace(/, serif|, sans-serif|'|\s/g, ""), js_body_insert_class += " font-" + js_font); "" != js_lineheight && "180%" != js_lineheight && (js_lineheight = js_lineheight.replace("%", ""), js_body_insert_class += " lineheight-" + js_lineheight); 1 == js_fluid_switch && (js_body_insert_class += " container-fluid-switch"); document.getElementById("body_chapter").className += js_body_insert_class;</script>
            <style type="text/css">
                .desc .info>div {
                    margin-bottom: 5px
                }

                .btn-border {
                    border-radius: 20px;
                    border: 1px solid #ccc;
                    background: #ddd
                }

                .btn-background {
                    background-color: #9f251e;
                    border-color: #94221c;
                    color: #fff;
                }

                .navbar-mucluc.navbar-nav {
                    margin: 0 0 10px 0;
                    display: flex;
                    justify-content: space-between;
                }

                .navbar-mucluc.navbar-nav>li {
                    margin-right: 13px;
                    display: inline-block;
                    width: 33%
                }

                .navbar-mucluc.navbar-nav>li>a {
                    padding: 10px 13px;
                    font-size: 14px;
                    text-align: center;
                    width: 100%;
                }

                .navbar-mucluc.navbar-nav>li>a:hover {
                    background: transparent;
                    color: #14425d
                }

                .navbar-mucluc.fixed {
                    position: fixed;
                    top: 0;
                    width: 100%;
                    z-index: 10;
                    background: #14425d
                }

                .navbar-mucluc.fixed>li>a {
                    color: #fff
                }

                .story-title {
                    font-size: 24px;
                    font-weight: 700;
                    margin: 0 0 15px;
                    padding: 0;
                    text-transform: uppercase;
                    font-family: "Roboto Condensed", Tahoma, sans-serif;
                    text-align: left;
                    display: block;
                    width: 68%;
                    float: right
                }

                .desc {
                    text-align: left
                }

                .desc .info>div {
                    margin-bottom: 5px;
                }

                .desc .info>div h3 {
                    line-height: 27px
                }

                .desc .info>div .glyphicon {
                    margin-right: 5px;
                }

                .review-story .review-story-content {
                    display: none
                }

                .review-story .review-story-content.open {
                    display: block;
                }

                .rate .rate-text {
                    bottom: -13px;
                    left: 192px;
                    font-size: 11px;
                }

                .group-buttons {
                    display: flex;
                    justify-content: space-between;
                }

                .group-buttons .btn {
                    width: 49%;
                    padding: 10px 13px;
                }

                .btn.btn-style {
                    -webkit-box-shadow: 0 3px 4px 0 #ced9d9;
                    -moz-box-shadow: 0 3px 4px 0 #ced9d9;
                    box-shadow: 0 3px 4px 0 #ced9d9;
                    color: #fff;
                    background-color: #9f251e;
                    border-color: #94221c;
                    -webkit-box-align: center !important;
                    -webkit-align-items: center !important;
                    -moz-box-align: center !important;
                    -ms-flex-align: center !important;
                    align-items: center !important;
                }

                .btn.btn-style-1 {
                    -webkit-box-shadow: 0 3px 4px 0 #ced9d9;
                    -moz-box-shadow: 0 3px 4px 0 #ced9d9;
                    box-shadow: 0 3px 4px 0 #ced9d9;
                    color: #222;
                    border-color: #94221c;
                    -webkit-box-align: center !important;
                    -webkit-align-items: center !important;
                    -moz-box-align: center !important;
                    -ms-flex-align: center !important;
                    align-items: center !important;
                    margin-top: 0 !important;
                }

                .btn.btn-style-1:hover {
                    background: transparent
                }

                .navbar-mucluc.navbar-nav:not(.fixed)>li>a {
                    border-radius: 20px;
                    border: 1px solid #ccc;
                    background: #ddd
                }

                .no-padding .desc-text,
                .l-chapter .l-chapters,
                .list-chapter,
                .list-keyword {
                    padding: 0
                }

                @media screen and (max-width: 480px) {
                    .story-title {
                        padding: 0 10px
                    }

                    .navbar-mucluc.navbar-nav {
                        margin: 0 0 15px 0;
                    }

                    .navbar-mucluc.navbar-nav>li {
                        width: 32%;
                        margin-right: 0
                    }

                    .navbar-mucluc.navbar-nav>li>a {
                        padding: 10px 0;
                        width: auto;
                    }

                    .story-title {
                        width: 100%
                    }

                    .no-padding .desc-text,
                    .review-story:not(.no-padding),
                    .desc,
                    .list-keyword {
                        padding: 0 10px
                    }

                    .l-chapter .l-title,
                    .l-chapter .l-title>h3 {
                        height: auto;
                    }

                    .info-holder .books {
                        margin-bottom: 15px
                    }

                    .group-buttons .btn {
                        width: 100%;
                    }

                    .col-info-desc {
                        margin-bottom: 15px
                    }

                    .l-chapter .l-chapters,
                    .list-chapter {
                        padding-left: 10px
                    }
                }
            </style>
            <div class="container csstransforms3d" id="truyen">
                <div class="col-xs-12 col-sm-12 col-md-9 col-truyen-main">
                    <div class="col-xs-12 col-info-desc" itemscope="" itemtype="https://schema.org/Book">
                        <h1 class="story-title" itemprop="name"><a href="/<%=manga.slug%>">
                                <%=manga.name%>
                            </a></h1>
                        <div class="col-xs-12 col-sm-4 col-md-4 info-holder">
                            <div class="books">
                                <div class="book"> <img src="<%=manga.image%>" alt="Trở Lại 2006" onerror=""
                                        itemprop="image" />
                                    <meta itemprop="thumbnailUrl"
                                        content="uploads/Resize/Images/164x245/tro-lai-2006.jpg" />
                                    <meta itemprop="description"
                                        content="Đọc truyện <%=manga.name%> của tác giả <%=manga.author%>, đã full (hoàn thành). Hỗ trợ xem trên di động, máy tính bảng." />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-8 desc">
                            <!-- <p>Doc truyen tro lai 2006 lttp truyen chu ebook prc download full.</p> -->
                            <div class="info">
                                <div itemprop="author" itemscope itemtype="https://schema.org/Person">
                                    <h3><span class="glyphicon glyphicon-user"></span> Tác giả:</h3> <a
                                        href="tac-gia/<%=manga.authorSlug%>" title="<%=manga.author%>"><span itemprop="name">
                                            <%=manga.author%>
                                        </span></a>
                                </div>
                                <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
                                    <meta itemprop="name" content="truyenchu" />
                                </div>
                                <div>
                                    <%
                                    function makeSlug(str) {
                                        //Đổi chữ hoa thành chữ thường
                                        let slug = str.toLowerCase();
                                    
                                        //Đổi ký tự có dấu thành không dấu
                                        slug = slug.replace(/á|à|ả|ạ|ã|ă|ắ|ằ|ẳ|ẵ|ặ|â|ấ|ầ|ẩ|ẫ|ậ/gi, 'a');
                                        slug = slug.replace(/é|è|ẻ|ẽ|ẹ|ê|ế|ề|ể|ễ|ệ/gi, 'e');
                                        slug = slug.replace(/i|í|ì|ỉ|ĩ|ị/gi, 'i');
                                        slug = slug.replace(/ó|ò|ỏ|õ|ọ|ô|ố|ồ|ổ|ỗ|ộ|ơ|ớ|ờ|ở|ỡ|ợ/gi, 'o');
                                        slug = slug.replace(/ú|ù|ủ|ũ|ụ|ư|ứ|ừ|ử|ữ|ự/gi, 'u');
                                        slug = slug.replace(/ý|ỳ|ỷ|ỹ|ỵ/gi, 'y');
                                        slug = slug.replace(/đ/gi, 'd');
                                        slug = slug.replace('-', '');
                                        //Xóa các ký tự đặt biệt
                                        slug = slug.replace(
                                            /\`|\~|\!|\@|\#|\||\$|\%|\^|\&|\*|\(|\)|\+|\=|\,|\.|\/|\?|\>|\<|\'|\"|\:|\;|_/gi,
                                            '',
                                        );
                                        //Đổi khoảng trắng thành ký tự gạch ngang
                                        slug = slug.replace(/ /gi, ' - ');
                                        //Đổi nhiều ký tự gạch ngang liên tiếp thành 1 ký tự gạch ngang
                                        //Phòng trường hợp người nhập vào quá nhiều ký tự trắng
                                        slug = slug.replace(/\-\-\-\-\-\-/gi, '-');
                                        slug = slug.replace(/\-\-\-\-\-/gi, '-');
                                        slug = slug.replace(/\-\-\-\-/gi, '-');
                                        slug = slug.replace(/\-\-\-/gi, '-');
                                        slug = slug.replace(/\-\-/gi, '-');
                                        //Xóa các ký tự gạch ngang ở đầu và cuối
                                        slug = '@' + slug + '@';
                                        slug = slug.replace(/\@\-|\-\@|\@/gi, '');
                                        slug = slug.replace(/\s/g, '');
                                        slug = slug.replace('--', '-');
                                        return slug;
                                    }
                                    %>
                                    <h3><span class="glyphicon glyphicon-tag"></span> Thể loại:</h3>
                                    <% manga.category.forEach((category,index)=>{%>
                                        <a itemprop="genre" href="/the-loai/<%=makeSlug(category)%>" title="<%=category%>"><%=category%></a>
                                        <% if(index<manga.category.length-1) {%>
                                            ,
                                        <%}%>
                                    <%}) %>
                                    <%manga.category%>
                                </div>
                                <div>
                                    <h3><span class="glyphicon glyphicon-info-sign"></span> Trạng thái:</h3> 
                                    <% if(manga.manga_status){%>
                                    <span class="text-success">Hoàn thành</span>
                                    <%} else {%>
                                        <span class="text-primary">Đang ra</span>
                                    <%}%>
                                </div>
                                <div>
                                    <h3><span class="glyphicon glyphicon-stats"></span> Độ dài:</h3> <span
                                        class="source"><span id="totalChapter">
                                            <%=totalManga%>
                                        </span> chương</span>
                                </div>
                            </div>
                            <div class="rate" style="margin-bottom: 15px;position: relative;">
                                <div class="rate-holder" data-score="9"></div> <em class="rate-text"></em>
                                <div class="small" itemprop="aggregateRating" itemscope
                                    itemtype="https://schema.org/AggregateRating" style="display: inline-block;">
                                    <meta itemprop="worstRating" content="1" /> <em> Đánh giá: <strong><span
                                                itemprop="ratingValue">9</span></strong>/<span class="text-muted"
                                            itemprop="bestRating">10</span> từ <strong><span
                                                itemprop="reviewCount">1</span>
                                            lượt</strong> </em>
                                    <meta itemprop="ratingCount" content="1" />
                                </div>
                            </div>
                            <p>Mời bạn đón đọc </a> <%=manga.name%> của tác giả
                                <%=manga.author%></p>
                            <ul class="nav navbar-nav navbar-mucluc" style="float: none;">
                                <li class=""><a href="#gioi-thieu-truyen">Giới Thiệu</a></li>
                                <li><a href="#danh-sach-chuong">Danh Sách Chương</a></li>
                                <li class="active"><a href="#binh-luan-truyen">Bình Luận</a></li>
                            </ul>
                            <div class="group-buttons">
                                <% if(manga.first_chapter) { %>
                                    <a class="btn btn-danger btn-block btn-style btn-border" href="/<%=manga.slug%>/<%=manga.first_chapter.slug%>"
                                        id="firstChapter"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;&nbsp;Đọc
                                        truyện
                                    </a> 
                                <% }%>
                                <% if(manga.last_chapter) { %>
                                <a class="btn btn-danger btn-block btn-style-1 btn-border" href="/<%=manga.slug%>/<%=manga.last_chapter.slug%>"
                                    id="latestChapter"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;&nbsp;Đọc
                                    chương mới nhất
                                </a> 
                                <% }%>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 no-padding">
                            <div class="title-list book-intro">
                                <h2 id="gioi-thieu-truyen">Thông tin truyện <%=manga.name%>
                                </h2>
                            </div>
                            <div class="desc-text">
                                <%=manga.description%>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                        <div class="col-xs-12">
                            <div id="ads_top_story">
                                <%if(adsSetting.adsDetailManga2){%>
                                    <%-adsSetting.adsDetailManga2%>
                                <%}%>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12" id="list-chapter">
                        <div class="title-list">
                            <h2 id="danh-sach-chuong">Danh sách chương <%=manga.name%>
                            </h2>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 no-padding">
                                <ul class="list-chapter">
                                    <% chapters.forEach((chapter,index)=>{ 
                                        if(index<25) {%>
                                        <li><span class="glyphicon glyphicon-certificate"></span><a
                                            href="/<%=manga.slug%>/<%=chapter.slug%>"
                                            title="<%=manga.name%> - <%=chapter.title%>"><span
                                                class="chapter-text"><span></span><%=chapter.title%></span></a></li>
                                    <%}}) %>
                                    
                                </ul>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 no-padding">
                                <ul class="list-chapter">
                                    <% chapters.forEach((chapter,index)=>{ 
                                        if(index>=25) {%>
                                            <li><span class="glyphicon glyphicon-certificate"></span><a
                                                href="/<%=manga.slug%>/<%=chapter.slug%>"
                                                title="<%=manga.name%> - <%=chapter.title%>"><span
                                                    class="chapter-text"><span></span><%=chapter.title%></span></a></li>
                                    <%}}) %>
                                    
                                </ul>
                            </div>
                        </div>
                        <input id="truyen-id" type="hidden" value="8014" /> <input id="total-page" type="hidden"
                            value="0" /> <input id="truyen-ascii" type="hidden" value="tro-lai-2006" /> <input
                            id="truyen-comment" type="hidden" value="tro-lai-2006" /> <input id="chapter-sac"
                            type="hidden" value="0" />
                        <div class="paginator">
                            <% if(pages>0){ %>
                                <ul class="pagination pagination-sm" id="pagination_chapter">
                                    <!-- FIRST ITEM -->  
                                    <% if(current==1){%>
                                        <li class="active"><span class="currentPage">1</span></li>
                                    <% } else { %>
                                        <li ><a itemprop="url" href="/<%=manga.slug%>?page=1"><span class="glyphicon glyphicon-backward" aria-hidden="true"></span></a></li>
                                        <li><a itemprop="url" href="/<%=manga.slug%>?page=<%=(current-1)%>"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a></li>
                                    <%}%>
                                    <!-- ITEMS  -->
                                    <% var from = current-5 ; var to = current+5 %> 
                                    <% for(; from <=to ; from ++) { %>
                                        <% if (from>0 && from <=pages && !(from ==1 && current==1 )) {%>
                                            <% if(from==current){ %>
                                               <li class="active"> <span class="currentPage"><%=from%></span></li>
                                             <%} else {%>
                                                <li><a itemprop="url" href="/<%=manga.slug%>?page=<%=from%>"><%=from%></a></li>
                                            <%}%>
                                        <%}%>
                                    <% }%>
                                    <!-- LAST ITEM -->
                                    <% if(current < pages) {%>
                                        <li><a itemprop="url" href="/<%=manga.slug%>?page=<%=(current+1)%>"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></li>
                                        <li><a itemprop="url" href="/<%=manga.slug%>?page=<%=pages%>"><span class="glyphicon glyphicon-forward" aria-hidden="true"></span></a></li>
                                    <%}%>
                                    <%if(pages>3){%>
                                    <li class="dropup page-nav"> <a href="javascript:void(0)" data-toggle="dropdown"
                                            aria-expanded="true">Chọn trang <span class="caret"></span></a>
                                        <div class="dropdown-menu dropdown-menu-right" role="menu">
                                            <form action="." name="page_jump_chapter" id="page_jump_chapter" method="get">
                                                <div class="input-group"> <input name="page_type" type="hidden" value="" /> <input
                                                        name="truyen" type="hidden" value="" /> <input name="filter" type="hidden"
                                                        value="" /> <input class="form-control" id="page_to_input" name="page" type="number"
                                                        placeholder="Số trang..." value="" /><span class="input-group-btn"><button
                                                            class="btn btn-default" type="submit">Đi</button></span> </div>
                                            </form>
                                        </div>
                                    </li>
                                    <%}%>
                                </ul>
                            <% } %>
                        </div> <input name="truyen" type="hidden" value="" />
                    </div>
                    <div class="col-xs-12 no-padding review-story">
                        <div class="title-list">
                            <h2>Review truyện <%=manga.name%>
                            </h2>
                        </div>
                    </div>
                    <div class="col-xs-12 review-story no-padding">
                        <div class="desc-text" itemprop="description"> Cập nhật Review truyện <%=manga.name%> của tác
                                giả <%=manga.author%> mới nhất tại blogema.org </div>
                    </div>
                    <div class="col-xs-12 comment-box">
                        <div class="title-list">
                            <h2 id="binh-luan-truyen">Bình luận truyện <%=manga.name%></h2>
                        </div>
                        <div class="col-xs-12">
                            <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v13.0&appId=570445043733275&autoLogAppEvents=1" nonce="8GE2FIbE"></script>
                            <div class="fb-comments" data-href="https://blogema.org/<%=manga.slug%>" data-width="100%" data-numposts="10"></div>
                        </div>
                    </div>
                    <div class="col-xs-12 list-keyword">
                        <p style="text-align: justify;">Từ khoá: Đọc truyện <%=manga.name%> full, chương 1, chương cuối.
                            Trở
                            Lại 2006 wattpad truyện full sstruyen truyencv medoctruyen, metruyenchu nội dung truyện <%=manga.name%> review, <%=manga.name%> Mangatool Wikidich Truyencuatui truyenfull webtruyen truyenyy ,
                            nghe
                            audio <%=manga.name%></p>
                    </div>
                </div>
                <div class="visible-md-block visible-lg-block col-md-3 text-center col-truyen-side">
                    <div id="ads_sidebar_story1">
                        <%if(adsSetting.adsDetailManga1){%>
                            <%-adsSetting.adsDetailManga1%>
                        <%}%>
                    </div>
                    <div class="list list-truyen col-xs-12">
                        <div class="title-list">
                            <h4>Truyện cùng tác giả</h4>
                        </div>
                        <%listSameAuthor.forEach((manga)=>{ %>
                            <div class="row">
                                <div class="col-xs-12"> <span class="glyphicon glyphicon-chevron-right"></span>
                                    <h3><a href="/<%=manga.slug%>" title="Cơ Diệu Trùng Sinh"><%=manga.name%></a></h3>
                                </div>
                            </div>
                        <%})%>
                    </div>
                    <div class="list list-truyen list-side col-xs-12">
                        <div class="title-list">
                            <h4>Truyện đang hot</h4>
                        </div>
                        <% listHot.forEach((manga,index)=>{%>
                                <div class="row top-item">
                                    <div class="col-xs-12">
                                        <div class="top-num top-<%=(index+1)%>"><%=(index+1)%></div>
                                        <div class="s-title">
                                            <h3><a href="/<%=manga.slug%>" title="<%=manga.name%>"><%=manga.name%></a></h3>
                                        </div>
                                        <div>
                                            <% manga.category.forEach((category,index)=>{%>
                                                <a itemprop="genre" href="/the-loai/<%=makeSlug(category)%>" title="Ngôn Tình"><%=category%></a>
                                                <% if(index<manga.category.length-1) {%>
                                                    ,
                                                <%}%>
                                            <%}) %>
                                        </div>
                                    </div>
                                </div>
                            <% }) %>
                    </div>
                    <div id="ads_sidebar_story2"></div>
                </div>
            </div>
    </div>
    <div class="container">
        <div style="margin: 15px 0;padding:0 5px"></div>
    </div>
    <div class="container">
        <div id="ads_footer"></div>
    </div>
    <%-include('./../common/footer')%>
    <script>const BASE_URL = '';
        const FB_APP_ID = '5170652662945892';
        const GA_ACCOUNT = '65067329-18';</script>
    <script type="text/javascript" src="/frontend/js/main.min.js"></script>
    <script src="https://benalman.com/code/projects/jquery-throttle-debounce/jquery.ba-throttle-debounce.js"></script>
    <script type="text/javascript" src="/frontend/js/xemtruyen.js"></script>
    <script>
        $(document).ready(function(){
            $('#pagination_chapter > li > a[itemprop="url"]').click(function(){
            console.log();
            window.location.href =$(this).attr('href')+'#danh-sach-chuong';
            })
            $('#page_jump_chapter').submit(function(event){
                event.preventDefault();
                const currentPage= Number('<%=current%>');
                const pages= Number('<%=pages%>');
                let pageTo= $('#page_to_input').val();
                
                if(!pageTo){
                    return alert('Vui Lòng Nhập Số Trang')
                }
                pageTo=Number(pageTo);
                if( pageTo>0 && pageTo<=pages && pageTo != currentPage ){
                    return window.location.href = '/<%=manga.slug%>?page='+pageTo +'#danh-sach-chuong';
                }else {
                    return alert('Vui Lòng Nhập Số Trang Đúng')
                }
            })
        })
    </script>
</body>

</html>