
<%-include('../library/header.ejs')%>

<!-- Start Content-->
<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                        <li class="breadcrumb-item active">Danh sách chương</li>
                    </ol>
                </div>
                <h4 class="page-title">Danh sách chương</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-sm-4 app-search dropdown d-none d-lg-block">
                            <form method="get" action="/admin/chapter/search">
                                <div class="input-group">
                                    <input type="text" name="key" class="form-control dropdown-toggle"  placeholder="Search..." id="top-search">
                                    <span class="mdi mdi-magnify search-icon"></span>
                                    <button class="input-group-text btn-primary" type="submit">Search</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-centered w-100 dt-responsive nowrap" id="products-datatable">
                            <thead class="table-light">
                            <tr>
                                <th class="all" style="width: 20px;">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="customCheck1">
                                        <label class="form-check-label" for="customCheck1">&nbsp;</label>
                                    </div>
                                </th>
                                <th class="all">Tên chương</th>
                                <th>Truyện</th>
                                <th>Ngày đăng</th>
                                <th>Trạng thái</th>
                                <th colspan="2" style="width: 85px;">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% listChapterWithNameManga.forEach((chapter, index) => { %>
                                <tr>
                                <td>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="customCheck2">
                                        <label class="form-check-label" for="customCheck2">&nbsp;</label>
                                    </div>
                                </td>
                                <td>
                                    <p class="m-0 d-inline-block align-middle font-16">
                                        <a href="apps-ecommerce-products-details.html" class="text-body"><%=chapter.title%>
                                    </p>
                                </td>
                                <td>
                                    <p class="m-0 d-inline-block align-middle font-16">
                                        <a href="apps-ecommerce-products-details.html" class="text-body"><%=chapter.mangaName%>
                                    </p>
                                </td>
                                <td>
                                    <%= moment(chapter.createdAt).format('DD-MM-YYYY')%>
                                </td>
                                <td>
                                    <form action="/admin/chapter/change-status" method="post">
                                        <% if(chapter.status === 1 || chapter.status === null){ %>
                                            <span class="badge bg-success">Hiển thị</span>
                                        <% }else{ %>
                                            <span class="badge bg-warning">Ẩn</span>
                                        <% } %>
                                        <input type="hidden" name="idChangeStatus" value=<%=chapter._id%>>
                                        <button id="changeStatus-<%=index%>" type="submit" class="btn btn-sm btn-info"><i class="mdi mdi-repeat"></i></button>
                                    </form>
                                </td>

                                <td class="table-action">
                                    <form action="/admin/chapter/delete" method="post">
                                        <input type="hidden" name="idDelete" value=<%=chapter._id%>>
                                        <a id="updateChapter-<%=index%>" href="/admin/chapter/update?idUpdate=<%=chapter._id%>" class="btn btn-primary" ><i class="mdi mdi-update"></i></a>
                                        <button id="deleteChapter-<%=index%>" type="submit" class="btn btn-danger" ><i class="mdi mdi-square-edit-outline"></i></button>
                                    </form>
                                </td>
                            </tr>
                            <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col -->
    </div>
    <!-- end row -->

    <!-- pagination -->
    <div class="row">
        <!-- hiển thị phân trang nếu có trang -->
        <% if(pages > 0) { %>
            <nav class="mx-auto">
                <ul class="pagination" style="margin-top: 2rem;">

                    <!-- FIRST ITEM -->
                    <% if(current == 1) { %>
                        <li class="page-item disabled">
                            <a class="page-link" href="/admin/chapter">First</a>
                        </li>
                    <% } else { %>
                        <li class="page-item">
                            <a class="page-link" href="/admin/chapter">First</a>
                        </li>
                    <% } %>

                    <!-- ITEMS  -->
                    <% var i = (Number(current) > 3 ? Number(current) - 2 : 1) %>
                    <% if(i !== 1) { %>
                        <li class="page-item disabled">
                            <a class="page-link" href="#">...</a>
                        </li>
                    <% } %>
                    <% for(; i <= (Number(current) + 2) && i <= pages; i++) { %>

                        <% if(i == current) { %>
                            <li class="page-item active">
                                <a class="page-link" href="/admin/chapter/<%= i %>/">
                                    <%= i %>
                                </a>
                            </li>
                        <% } else { %>
                            <li class="page-item">
                                <a class="page-link" href="/admin/chapter/<%= i %>/">
                                    <%= i %>
                                </a>
                            </li>
                        <% } %>
                        <% if (i == Number(current) + 2 && i < pages) { %>
                            <li class="page-item disabled">
                                <a class="page-link" href="#">...</a>
                            </li>
                        <% } %>
                    <% } %>

                    <!-- LAST ITEM -->
                    <% if(current == pages) { %>
                        <li class="page-item disabled">
                            <a class="page-link" href="#">
                                Last
                            </a>
                        </li>
                    <% } else { %>
                        <li class="page-item">
                            <a class="page-link" href="/admin/chapter/<%= pages %>">
                                Last
                            </a>
                        </li>
                    <% } %>
                </ul>
            </nav>
        <% } %>
    </div>

</div> <!-- container -->



<%-include('../library/footer.ejs')%>