
<%-include('../library/header.ejs')%>

<!-- Start Content-->
<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                        <li class="breadcrumb-item active">Danh sách chương</li>
                    </ol>
                </div>
                <h4 class="page-title">Danh sách chương</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <div class="table-responsive">
                        <table class="table table-centered w-100 dt-responsive nowrap" id="products-datatable">
                            <thead class="table-light">
                            <tr>
                                <th class="all" style="width: 20px;">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="customCheck1">
                                        <label class="form-check-label" for="customCheck1">&nbsp;</label>
                                    </div>
                                </th>
                                <th class="all">Tên chương</th>
                                <th>Truyện</th>
                                <th>Ngày đăng</th>
                                <th>Trạng thái</th>
                                <th style="width: 85px;">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% listChapterWithNameManga.forEach((chapter, index) => { %>
                                <tr>
                                <td>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="customCheck2">
                                        <label class="form-check-label" for="customCheck2">&nbsp;</label>
                                    </div>
                                </td>
                                <td>
                                    <p class="m-0 d-inline-block align-middle font-16">
                                        <a href="apps-ecommerce-products-details.html" class="text-body"><%=chapter.title%>
                                    </p>
                                </td>
                                <td>
                                    <p class="m-0 d-inline-block align-middle font-16">
                                        <a href="apps-ecommerce-products-details.html" class="text-body"><%=chapter.mangaName%>
                                    </p>
                                </td>
                                <td>
                                    <%= moment(chapter.createdAt).format('DD-MM-YYYY')%>
                                </td>
                                <td>
                                    <form action="/admin/chapter/change-status" method="post">
                                        <% if(chapter.status === 1 || chapter.status === null){ %>
                                            <span class="badge bg-success">Hiển thị</span>
                                        <% }else{ %>
                                            <span class="badge bg-warning">Ẩn</span>
                                        <% } %>
                                        <input type="hidden" name="idChangeStatus" value=<%=chapter._id%>>
                                        <button id="changeStatus-<%=index%>" type="submit" class="btn btn-sm btn-info"><i class="mdi mdi-repeat"></i></button>
                                    </form>
                                </td>

                                <td class="table-action">
                                    <form action="/admin/chapter/delete" method="post">
                                        <input type="hidden" name="idDelete" value=<%=chapter._id%>>
                                        <button id="deleteChapter-<%=index%>" type="submit" class="btn btn-danger" ><i class="mdi mdi-delete"></i></button>
                                    </form>
                                </td>
                            </tr>
                            <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col -->
    </div>
    <!-- end row -->

</div> <!-- container -->



<%-include('../library/footer.ejs')%>