<div class="container">
    <div class="navbar-header"> <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target=".navbar-collapse"> <span class="sr-only">Hiện menu</span><span
                class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
        </button>
        <h1> <a class="header-logo" href="/" title="Mê đọc xem truyện">Mê đọc xem truyện</a> </h1>
    </div>
    <div class="navbar-collapse collapse" itemtype="http://www.schema.org/SiteNavigationElement"
        itemscope>
        <meta itemprop="url" content="" />
        <ul class="control nav navbar-nav">
            <li class="dropdown"> <a href="javascript:void(0)" class="dropdown-toggle"
                    data-toggle="dropdown"><span class="glyphicon glyphicon-list"></span> Danh sách
                    <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu" itemscope
                    itemtype="http://www.schema.org/SiteNavigationElement">
                    <li><a itemprop="url" href="/danh-sach/dam-my-h-van" title="Đam Mỹ H Văn"><span
                                itemprop="name">Đam Mỹ H Văn</span></a></li>
                    <li><a itemprop="url" href="/danh-sach/dam-my-hai" title="Đàm mỹ hài"><span
                                itemprop="name">Đàm mỹ hài</span></a></li>
                    <li><a itemprop="url" href="/danh-sach/dam-my-hay" title="Đam Mỹ Hay"><span
                                itemprop="name">Đam Mỹ Hay</span></a></li>
                    <li><a itemprop="url" href="/danh-sach/dam-my-sac" title="Đam Mỹ Sắc"><span
                                itemprop="name">Đam Mỹ Sắc</span></a></li>
                    <li><a itemprop="url" href="/danh-sach/kiem-hiep-hay" title="Kiếm hiệp hay"><span
                                itemprop="name">Kiếm hiệp hay</span></a></li>
                    <li><a itemprop="url" href="/danh-sach/ngon-tinh-hai" title="Ngôn Tình Hài"><span
                                itemprop="name">Ngôn Tình Hài</span></a></li>
                    <li><a itemprop="url" href="/danh-sach/ngon-tinh-hay" title="Ngôn tình hay"><span
                                itemprop="name">Ngôn tình hay</span></a></li>
                    <li><a itemprop="url" href="/danh-sach/ngon-tinh-nguoc" title="Ngôn Tình Ngược"><span
                                itemprop="name">Ngôn Tình Ngược</span></a></li>
                    <li><a itemprop="url" href="/danh-sach/ngon-tinh-sac" title="Ngôn Tình Sắc"><span
                                itemprop="name">Ngôn Tình Sắc</span></a></li>
                    <li><a itemprop="url" href="/danh-sach/ngon-tinh-sung" title="Ngôn tình Sủng"><span
                                itemprop="name">Ngôn tình Sủng</span></a></li>
                    <li><a itemprop="url" href="/danh-sach/tien-hiep-hay" title="Tiên hiệp hay"><span
                                itemprop="name">Tiên hiệp hay</span></a></li>
                    <li><a itemprop="url" href="/danh-sach/truyen-full" title="Truyện Full"><span
                                itemprop="name">Truyện Full</span></a></li>
                    <li><a itemprop="url" href="/danh-sach/truyen-hot" title="Truyện Hot"><span
                                itemprop="name">Truyện Hot</span></a></li>
                    <li><a itemprop="url" href="/danh-sach/truyen-moi" title="Truyện Mới"><span
                                itemprop="name">Truyện Mới</span></a></li>
                    <li><a itemprop="url" href="/danh-sach/truyen-teen-hay" title="Truyện Teen Hay"><span
                                itemprop="name">Truyện Teen Hay</span></a></li>
                </ul>
            </li>
            <li class="dropdown"> <a href="javascript:void(0)" class="dropdown-toggle"
                    data-toggle="dropdown"><span class="glyphicon glyphicon-list"></span> Thể loại <span
                        class="caret"></span></a>
                <div class="dropdown-menu multi-column" itemscope
                    itemtype="http://www.schema.org/SiteNavigationElement">
                    <div class="row">
                        <%
                            const numberElement = headerCategoryList.length/3 +1  ;
                            const numberRow = 13 ;
                            const colum1= [];
                            const colum2= [];
                            const colum3= [];
                            headerCategoryList.forEach((item,index)=>{
                                if(index+1 <= numberRow ){
                                    colum1.push(item);
                                }else if( index+1 > numberRow && index+1 <=numberRow*2 ) {
                                    colum2.push(item)
                                }
                                else {
                                    colum3.push(item)
                                }
                            })
                        %>
                        <div class="col-md-4">
                            <ul class="dropdown-menu">
                                <% colum1.forEach((item)=>{%>
                                    <li><a itemprop="url" href="/the-loai/<%=item.slug%>" title="<%=item.name%>"><span
                                        itemprop="name"><%=item.name%></span></a></li>
                                <% }) %>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="dropdown-menu">
                                <% colum2.forEach((item)=>{%>
                                    <li><a itemprop="url" href="/the-loai/<%=item.slug%>" title="<%=item.name%>"><span
                                        itemprop="name"><%=item.name%></span></a></li>
                                <% }) %>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="dropdown-menu">
                                <% colum3.forEach((item)=>{%>
                                    <li><a itemprop="url" href="/the-loai/<%=item.slug%>" title="<%=item.name%>"><span
                                        itemprop="name"><%=item.name%></span></a></li>
                                <% }) %>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li class="dropdown"> <a href="javascript:void(0)" class="dropdown-toggle"
                    data-toggle="dropdown" rel="nofollow"><span class="glyphicon glyphicon-cog"></span>
                    Tùy chỉnh <span class="caret"></span></a>
                <div class="dropdown-menu dropdown-menu-right settings">
                    <form class="form-horizontal">
                        <div class="form-group form-group-sm"> <label
                                class="col-sm-2 col-md-5 control-label" for="truyen-background">Màu
                                nền</label>
                            <div class="col-sm-5 col-md-7"> <select class="form-control"
                                    id="truyen-background">
                                    <option value="#F4F4F4">Xám nhạt</option>
                                    <option value="#E9EBEE">Xanh nhạt</option>
                                </select> </div>
                        </div>
                    </form>
                </div>
            </li>
        </ul>
        <form class="navbar-form navbar-right" action="/tim-kiem" role="search">
            <div class="input-group search-holder"> <input aria-label="Từ khóa tìm kiếm"
                    role="search key" class="form-control" id="search-input" type="search" name="tukhoa"
                    placeholder="Tìm kiếm..." value="" required />
                <div class="input-group-btn"> <button class="btn btn-default" type="submit"
                        aria-label="Tìm kiếm" role="search"><span
                            class="glyphicon glyphicon-search"></span></button> </div>
            </div>
            <div class="list-group list-search-res hide"></div>
        </form>
    </div>
</div>